<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amir.ir.privatestore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyStoreApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl">

        <activity
            android:name=".ui.activities.SearchMapActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".ui.activities.DeliveryPreparationActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activities.MapsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".TestActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="payment_result"
                    android:scheme="selphone" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.OrderDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.amir.ir.privatestore.paymentcallback" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.AddAddressActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.AddressActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.CommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.TrackOrderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.AboutUsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.InviteFriendsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ProfileActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ProductListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.CartActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ProductDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.CategoryActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".repository.notification.NotificationEventReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.najva.sdk.Najva.ACTION_NOTIFICATION_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".repository.notification.NotificationClickEventReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.najva.sdk.Najva.ACTION_CLICK_RECEIVED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.najva.sdk.metadata.API_KEY"
            android:value="bd6daf76-183b-4078-95ce-15ea5dfd272c" />
        <meta-data
            android:name="com.najva.sdk.metadata.WEBSITE_ID"
            android:value="12291" />

        <service
            android:name=".repository.notification.fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.najva.sdk.push_notification.service.NajvaMessagingService"
            tools:node="remove" />
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo_vector" />
    </application>

</manifest>